@model web.Models.Band

@{
    ViewData["Title"] = "Details";
}

<h1>Podrobnosti</h1>

<div>
    <h4>Bend</h4>
    <hr />
    <dl class="row">
        
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BandName)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.BandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Music)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Music)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BandID">Urejaj</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
