@model IEnumerable<web.Models.Band>

@{
    ViewData["Title"] = "Index";
}

<h1>Bendi</h1>

<p>
    <a asp-action="Create">Ustvari novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.BandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.BandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Music)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BandID">Urejaj</a> |
                <a asp-action="Details" asp-route-id="@item.BandID">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.BandID">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
