@model web.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Podrobnosti</h1>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNick)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNick)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservationID">Urejaj</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
